# MacOS X
.DS_Store
._.*

# Output
/.sass-cache/
/src/**/*.map
/example/**/*.map

# Node stuff
/node_modules/

# Ruby stuff
/.ruby-version
/.ruby-gemset
/Gemfile
/Gemfile.lock

# Just in case
/misc/
/tmp/
